@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    min-width: 300px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 12px -1px rgba(10,1,10,1);
-moz-box-shadow: 0px 0px 12px -1px rgba(10,1,10,1);
box-shadow: 0px 0px 12px -1px rgba(10,1,10,1);
}

.form-control{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 15px 0;
    text-transform: capitalize;
    position: relative;
}

.form-control label{
    padding-bottom: 5px;
}

.form-control input{
    padding: 5px 10px;
    border-radius: 5px;
}

.form-control small{
    position: absolute;
    top: 55px;
}

button{
    padding: 10px 20px;
    border: none;
    background: blueviolet;
    color: white;
    font-size: 16px;
    margin-top: 20px;
}

button:active{
    transform: scale(0.95);
    transition: transform 100ms;
}

.error{
    color: red;
}

.success{
    border: 1px solid green;
}